* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a,
p,
span {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-family: sans-serif; */
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
}

body,
html {
  height: 100%;

  display: flex;
}

#img-section {
  background-image: url("res/signup-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100%;
  width: 40vw;
  min-width: 400px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#odin-overlay {
  background-color: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 40%;
}

#odin-overlay > img {
  height: 150px;
}

#odin-overlay > p {
  font-family: "Norse", sans-serif;
  color: white;
  font-size: 80px;
  font-weight: bold;
}

#img-credit {
  font-size: 16px;
  color: white;
  text-align: center;
  margin-bottom: 20px;

  font-weight: lighter;

  a {
    text-decoration: underline;
    color: white;
  }
}

form {
  background-color: rgb(240, 240, 240);

  display: flex;
  flex-direction: column;

  text-align: justify;
  gap: 20px;
}

#form-header,
#form-content,
#form-footer {
  padding-left: 50px;
}

label {
  text-transform: uppercase;
}

#form-content {
  display: flex;
  flex-direction: column;
  background-color: white;

  padding-top: 15px;
  padding-bottom: 30px;

  font-size: 14px;

  box-shadow: 12px 7px 9px 0px rgba(107, 107, 107, 0.1);
}

#form-header {
  display: flex;
  flex-direction: column;
  gap: 30px;

  padding-top: 200px;
  padding-right: 200px;
  padding-bottom: 50px;
  font-size: 18px;
  font-weight: 600;
}

#form-fields {
  display: flex;
  gap: 100px;
}

#form-content > section > section {
  display: flex;
  flex-direction: column;
}

#form-content label {
  margin-top: 20px;
}

#form-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  font-size: 14px;
}

button {
  width: auto;
  padding: 10px 50px;
  background-color: #596d48;
  color: white;
  border-radius: 10px;

  border: none;
  box-shadow: 12px 7px 9px 0px rgba(107, 107, 107, 0.1);
}

#form-footer a {
  text-decoration: none;
  color: #596d48;
}

input {
  width: 200px;
}
